:root {
    --primary: #3c4b4f;
    --primary-dark: #676f72;
    --primary-70: rgba(60, 75, 79, 0.7);
    --primary-50: rgba(60, 75, 79, 0.5);
    --primary-30: rgba(60, 75, 79, 0.3);
    --primary-10: rgba(60, 75, 79, 0.1);
    --logo: #252d37;
    --sidebar-icon: #707070;
}

.bg-grad-sidebar {
    background-image: linear-gradient(0deg, #7e8ea1 0%, #3c4655 100%);
}
